.yplaceholder {
  transition: all linear 0.5s;
  height: 400px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.ng-hide {
  height: 0;
  width: 0;
  background-color: transparent;
  left: 1000px;
}

.done
{
  height: 100%;
  color: green;
  border: 1px solid green;
  padding-left: 5px;
}

.void
{
  height: 100%;
  color: red;
  border: 1px solid red;
  padding-left: 5px;
}

.bubble
{
top: 130px;
left: 300px;
position: relative;
width: 120px;
height: 65px;
padding: 10px;
background: lightblue;
border-radius: 10px;
}

.bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 11px 52px 11px 0;
border-color: transparent lightblue;
display: block;
width: 0;
z-index: 1;
left: -52px;
top: 21px;
}

.backfed
{
  background-image: url("../images/yaakov_fed.png");
  background-repeat: no-repeat;
}

.backhungry
{
  background-image: url("../images/yaakov_hungry.png");
  background-repeat: no-repeat;
}
